。example12{
    display: flex;
    margin-top: 10px;
    width: 400px;
    height: 150px;
    font-size: 0;
    border: 1px solid #dcdcdc;
}
.example12 .con{
    width: 300px;
    font-size: 15px;
    background: #afddf3;
    margin: auto;
}