.example7 {
    position: relative;
    margin-top: 10px;
    width: 400px;
    height: 150px;
    font-size: 0;
    border: 1px solid #dcdcdc;
}
.example7.con{
    position: absolute;
    top: 0;
    height: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 80px;
    width: 300px;
    background: #afddf3;
    font-size: 15px;
}